<h1>Bienvenue sur l'interface admin</h1>
<br>
<h3>Pour gérer les utilisateurs, <%= link_to "c'est par ici", admin_users_path %>.</h3>


<br>
<h3>Pour gérer les produits, <%= link_to "c'est par ici", admin_products_path %>.</h3>

<% 13.times do %>
	<br>
<% end %>

