<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user.email %> !</h1>
    <p>
      Merci de t'être inscrit chez nous !
    </p>
  </body>
</html>