<body>
<h1>Mes Commandes</h1>
      
 

  <%@productcart.each do |order|%>
    <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
        
        <div class="d-flex flex-column align-items-center product-details"><span class="font-weight-bold">Commande n°<%=order.productcart.cart.id%></span>
        </div>
        
            <p class="text-grey"><%=order.productcart.price %> € </p>
  <%end%>