<body>

	<!-- =======================
	Banner innerpage -->
	<div class="text-center bg-overlay-dark-4" style="background:url(https://images.pexels.com/photos/3163612/pexels-photo-3163612.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat; background-size: cover; background-position: center center;">
		<div class="container">
			<div class="row all-text-white">
				<div class="col-md-12 align-self-center">
					<h6 class="display-4 mt-9 mb-0" style="font-size: 7em">A propos</h6>
				</div>
			</div>
		</div>
	</div>
	<!-- =======================
	Banner innerpage -->

	<!-- =======================
	contact -->
	<section class="contact-page">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 mx-auto">
					<div class="title text-center">
						<h2>Chat alors, on aurait pas oublié de se présenter ?</h2>
					</div>
				</div>
			</div>
			<br>
			<div class="row" style="justify-content: space-evenly;">
				<div class="col-md-6">
					<div class="contact-box h-150 bg-overlay-dark-7 px-3 py-4" style="background:url(https://images.pexels.com/photos/3069334/pexels-photo-3069334.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat; background-size: cover; background-position: center center; border-radius: 30px;overflow:hidden;">
						<!-- Phone -->
						<div class="contact-info all-text-white">
							<h2 class="mb-2">L'équipe, c'est :</h2>
							<br>
							<br>
							<br>
							<ul style="list-style-type:circle;">
								<li style="font-size: 1.6em; padding-left: 10px; ">Samira Adidaoui<small>, éleveuse de chats de tout poil</small></li>
								<br>
								<br>
								<li style="font-size: 1.6em; padding-left: 10px;">Marine Kouadio<small>, experte en félinologie</small></li>
																<br>
																<br>
								<li style="font-size: 1.6em; padding-left: 10px;">Guillaume Redon<small>, négociant de gros matous</small></li>
																<br>
																<br>

								<li style="font-size: 1.6em; padding-left: 10px;">Alex Balomog<small>, chasseur de chats de gouttière</small></li>
								<br>
								<br>

								<li style="font-size: 1.6em; padding-left: 10px;">Brice Arby<small>, adepte de minet-ralogie</small></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- google map -->
			
				<!-- contact form -->

			</div>
		</div>				
		<br>
		<br>
		<br>
		<br>
		<div class="row">
				<div class="col-12 col-lg-8 mx-auto">
					<div class="title text-center">
						<h4>Une suggestion ? Une remarque ? Une question ?</h4>
						<h4>Vous pouvez nous écrire à l'adresse suivante : <a href="#">contact@kittenofTHP.com</a></h4>
					</div>
				</div>
			</div>
	</section>
	
	



</body>
</html>