<p>Bienvenue <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous notifions que votre email est changé en : <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous notifions que votre email a été changé en : <%= @resource.email %>.</p>
<% end %>
