<p>Bienvenue <%= @resource.email %>!</p>

<p>Quelqu'un a demandé à changer le mot de passe. Vueillez confirmer en cliquant sur le lien ci-dessous.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'etes pas à l'origine de cette demande, vueillez ignorer cet email.</p>
<p>Votre mot de passe ne sera pas changé avant que vous ne le changiez en suivant ce lien.</p>
