<p>Bienvenue<%= @resource.email %>!</p>

<p>Suite à un très grand nombre de tentatives érronées, votre compte a été momentatnement bloqué.</p>

<p>Cliquez sur le lien ci dessous pour débloquer votre compte:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
