
	<!-- =======================
	Banner innerpage -->
	<div class="left bg-dark-grad pattern-overlay-1">
		<div class="container">
			<div class="row all-text-white">
				<div class="col-md-12 align-self-center">
					<h1 class="font-weight-bold display-4 display-md-1 mb-2 mb-md-n4 mt-9">Our Services</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- =======================
	Banner innerpage -->


	<!-- =======================
	service -->
	<section class="service">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="feature-box h-100 icon-grad">
						<div class="feature-box-icon"><i class="ti-panel"></i></div>
						<h3 class="feature-box-title">Super-easy customizing</h3>
						<p class="feature-box-desc">We have vast collection of sed do eiusmod tempor incididunt ut labore et <strong>Dolore magna aliqua.</strong> Ut enim ad minim veniam, quis nostrud.</p>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="feature-box h-100 icon-grad">
						<div class="feature-box-icon"><i class="ti-package"></i></div>
						<h3 class="feature-box-title">Premium Plugins</h3>
						<p class="feature-box-desc">With this template you can incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="feature-box h-100 icon-grad">
						<div class="feature-box-icon"><i class="ti-credit-card"></i></div>
						<h3 class="feature-box-title">Budget accounting</h3>
						<p class="feature-box-desc">Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <strong>$255.00</strong> pm Duis aute irure dolor in reprehenderit in voluptate velit. </p>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="feature-box h-100 icon-grad">
						<div class="feature-box-icon"><i class="ti-layout-slider"></i></div>
						<h3 class="feature-box-title">Work flow automation</h3>
						<p class="feature-box-desc">We have vast collection of sed do eiusmod tempor incididunt ut labore et <strong>Dolore magna aliqua.</strong> Ut enim ad minim veniam, quis nostrud.</p>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="feature-box h-100 icon-grad">
						<div class="feature-box-icon"><i class="ti-wallet"></i></div>
						<h3 class="feature-box-title">Solution Defining</h3>
						<p class="feature-box-desc">With this template you can incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="feature-box h-100 icon-grad">
						<div class="feature-box-icon"><i class="ti-share-alt"></i></div>
						<h3 class="feature-box-title">High Performance</h3>
						<p class="feature-box-desc">Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <strong>$255.00</strong> pm Duis aute irure dolor in reprehenderit in voluptate velit. </p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	service -->

	<!-- =======================
	process-advance -->
	<section class="process-advance bg-light">
		<div class="container">
			<div class="row">
				<!-- process 1 -->
				<div class="col-sm-6 col-lg-3 text-center mb-4">
					<div class="process-border"><span class="process-number bg-grad border-right">01</span></div>
					<h5 class="my-3">Planning</h5>
					<p>The initial step after getting the project is to discuss and plan the skills</p>
				</div>
				<!-- process 1 -->
				<div class="col-sm-6 col-lg-3 text-center mb-4">
					<div class="process-border"><span class="process-number bg-grad border-left border-right">02</span></div>
					<h5 class="my-3">Designing</h5>
					<p>After getting the project requirement, we start working on design</p>
				</div>
				<!-- process 1 -->
				<div class="col-sm-6 col-lg-3 text-center mb-4">
					<div class="process-border"><span class="process-number bg-grad border-left border-right">03</span></div>
					<h5 class="my-3">Integration</h5>
					<p>We test each individual activity and integrate them all together in a process.</p>
				</div>
				<!-- process 1 -->
				<div class="col-sm-6 col-lg-3 text-center mb-4">
					<div class="process-border"><span class="process-number bg-grad border-left">04</span></div>
					<h5 class="my-3">Delivery</h5>
					<p>We deliver the project and upload it to their web server after support maintenance.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	process-advance -->


	<!-- =======================
	Service block -->
	<section class="service-block">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-6 align-self-center">
					<div class="title text-left pb-4 p-lg-0 ">
						<h2>Our services reflect our knowledge and in <span class="text-primary"> depth understanding</span> of the project</h2>
						<p>Wizixo; an innovative Internet marketing solutions company that offers comprehensive web development, SMO services, SEO strategies and various other types of Internet marketing related services. </p>
						<div class="row">
							<div class="col-6">
								<ul class="list-group list-group-borderless list-group-icon-primary-bg">
									<li class="list-group-item"><i class="fa fa-check"></i>Up to 10 users monthly</li>
									<li class="list-group-item"><i class="fa fa-check"></i>Unlimited updates</li>
									<li class="list-group-item"><i class="fa fa-check"></i>Free host & domain included</li>
								</ul>
							</div>
							<div class="col-6">
								<ul class="list-group list-group-borderless list-group-icon-primary-bg">
									<li class="list-group-item"><i class="fa fa-check"></i>24/7 dedicated Support </li>
									<li class="list-group-item"><i class="fa fa-check"></i>Unlimited Storage usage</li>
									<li class="list-group-item"><i class="fa fa-check"></i>Up to 10 user register</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-10 col-lg-6 mx-md-auto align-self-center">
					<img class="img-fluid" src="assets/images/service/01.jpg" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	Service block -->

	<div class="divider m-0"> </div>

	<!-- =======================
	Pricing -->
	<section class="pricing pricing-center">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 mx-auto">
					<div class="title text-center">
						<h2>Affordable Pricing Packages</h2>
						<p>We can design and develop a website that specifically meets your unique needs, and meets your required standards as well as industry related standards</p>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- pricing item -->
				<div class="col-md-4 mb-5">
					<div class="pricing-box h-100">
						<h5>Personal Plan</h5>
						<div class="plan-price">
							<span class="price text-grad">
							<sup class="text-grad">$</sup>20 </span> /month
						</div>
						<p>Content Management System, Installation & Setup, Search engine friendly and Social media integration</p>
						<a class="btn btn-outline-light mt-4" href="#!">Order now!</a>
					</div>
				</div>
				<!-- pricing item -->
				<div class="col-md-4 mb-5">
					<div class="pricing-box h-100 shadow no-border box">
						<div class="ribbon"><span>POPULAR</span></div>
						<h5>Business Plan</h5>
						<div class="plan-price">
							<span class="price text-grad">
							<sup class="text-grad">$</sup>50 </span> /month
						</div>
						<p>Search engine friendly, Contact form, Social media integration and Mobile and tablet friendly design</p>
						<a class="btn btn-grad mt-4" href="#!">Order now!</a>
					</div>
				</div>
				<!-- pricing item -->
				<div class="col-md-4 mb-5">
					<div class="pricing-box h-100">
						<h5>Ultimate Plan</h5>
						<div class="plan-price">
							<span class="price text-grad">
							<sup class="text-grad">$</sup>99 </span> /month
						</div>
						<p>Content integration, Slider Design, Social media integration and True 24 X 7 customer support</p>
						<a class="btn btn-outline-light mt-4" href="#!">Order now!</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-lg-8 mx-auto text-center mt-3">
					<h6>If you're not exactly sure which pricing strategy will work for your business. Contact us we will help you to choose your best pricing plan. </h6>
					<a class="btn btn-dark" href="#!">Contact us!</a>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	Pricing -->


	