


	<section class="portfolio pb-0">
		<div class="container">
			<div class="row">
				<div class="col-md-12 p-0">
					<div class="portfolio-wrap grid items-5 items-padding">
						<!-- portfolio-card -->
						<% for product in @product %>
						<div class="portfolio-card isotope-item digital">
							<div class="portfolio-card-body">
								<div class="portfolio-card-header">
									<img src="assets/images/portfolio/01.jpg" alt="">
								</div>
								<div class="portfolio-card-footer">


									<img class="card-img" src="<%=product.url %>" alt="Card image cap">
									<h6 class="info-title"><a href="<%=product_path(product.id)%>" title=""><%=product.name %></a></h6>
									<h6>Price <%=product.price %>€ </h6>
									<h6 class="info-title"><a href="#" title=""> Add to the cart </a></h6>




								</div>
							</div>
						</div>
						<% end %>
