


<section class="portfolio pb-0">
  <div class="nav justify-content-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 p-0">
          <div class="portfolio-wrap grid items-2 items-padding">

            <div class="portfolio-card isotope-item digital">
              <div class="portfolio-card-body">
                <div class="portfolio-card-header">
                  <img src="assets/images/portfolio/01.jpg" alt="">
                </div>
                <div class="portfolio-card-footer">


                  <img class="card-img" src="<%=@specific_product.url %>" alt="Card image cap">
                  <h6 class="info-title"><a title=""><%=@specific_product.name %></a></h6>
                  <h6>Prix <%=@specific_product.price %>€ </h6>
                  <h6 class="btn btn-primary" href="#">Ajouter au panier</h6>

                  <p> <%= @specific_product.description %> </p>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
